### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t
%matplotlib inline


# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv('movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [2]:
print(movies.shape)
movies.head()

(35479, 3)

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumière (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror

In [3]:
print(reviews.shape)
reviews.head()

(863866, 4)

  user_id  movie_id  rating   timestamp
0       1   0114508       8  1381006850
1       2   0208092       5  1586466072
2       2   0358273       9  1579057827
3       2  10039344       5  1578603053
4       2   6751668       9  1578955697

In [4]:
genre_arr = movies.genre.unique()
unique_genre = []
for i in genre_arr:
    if str(i) != 'nan':
        for j in i.split('|'):
            if j not in unique_genre:
                unique_genre.append(j)
len(unique_genre)

28

In [5]:
reviews.user_id.nunique()

67353

In [6]:
print(reviews.rating.isna().sum())
print(reviews.rating.mean())
print(reviews.rating.min())
print(reviews.rating.max())

0
7.31587769399
0
10

In [7]:
# Use your findings to match each variable to the correct statement in the dictionary


dict_sol1 = {
'The number of movies in the dataset': 35479,
'The number of ratings in the dataset': 863866,
'The number of different genres': 28,
'The number of unique users in the dataset': 67353,
'The number missing ratings in the reviews dataset': 0,
'The average rating given across all ratings': 7.32,
'The minimum rating given across all ratings': 0,
'The maximum rating given across all ratings': 10
}

# Originally, I had this to check your solution, but the 
# links are live and updating.  That didn't end up being
# a great idea

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [13]:
movies['date'] = movies.movie.str.split("(").str[-1].str.replace(')', '').str.strip()

In [15]:
movies = pd.concat([movies, pd.get_dummies(movies['date'].astype(int)//100*100)], axis=1)

In [18]:
movies.tail()

,movie_id,movie,genre,date,1800,1900,2000,Action,Adult,Adventure,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
35474,12036052,Elephant (2020),Documentary|Adventure|Biography|Family,2020,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
35475,12058882,Coachella: 20 Years in the Desert (2020),Documentary|Music,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35476,12078990,Money Heist: The Phenomenon (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35477,12131262,Out of Shadows (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35478,12192654,Planet of the Humans (2019),NaN,2019,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
movies = pd.concat([movies, movies['genre'].str.get_dummies(sep='|')], axis=1)

In [19]:
reviews['date'] = pd.to_datetime(reviews['timestamp'], unit='s')

In [20]:
reviews.head()

  user_id  movie_id  rating   timestamp                date
0       1   0114508       8  1381006850 2013-10-05 21:00:50
1       2   0208092       5  1586466072 2020-04-09 21:01:12
2       2   0358273       9  1579057827 2020-01-15 03:10:27
3       2  10039344       5  1578603053 2020-01-09 20:50:53
4       2   6751668       9  1578955697 2020-01-13 22:48:17

In [ ]:
reviews_new, movies_new = t.show_clean_dataframes()